.header {
  background: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  padding: 0 0 20px;
}
